
body{
    margin: 0;
  background-color: rgb(39, 219, 198);
}
image{
    width: 20px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.input-container{
    margin-top: 555x;
    display:flex;
    align-items: center;
    justify-content: center;
}
.input-inner{
    width: 500px;
}
h2 {text-align: center;}
